beautifulsoup4==4.6.0
boto3==1.4.7
botocore==1.7.43
bs4==0.0.1
Django==1.11.28
docutils==0.14
elementtree===1.2.7-20070827-preview
futures==3.1.1
gevent==1.2.2
greenlet==0.4.10
html5lib==0.90
jmespath==0.9.3
lxml==3.5.0
Markdown==2.0.3
MarkupSafe==0.23
mercurial==4.2.3
MySQL-python==1.2.3rc1
pbr==1.9.1
PIL==1.1.7
Pillow==3.4.1
psutil==0.6.1
psycopg2==2.7.3.1
pycairo==1.8.4
pydot==1.2.3
pyparsing==2.1.10
pysqlite==2.6.3
python-dateutil==2.6.1
python-ldap==2.4.45
python-Levenshtein==0.12.0
python-memcached==1.58
python-openid==2.2.5
pytz==2017.2
PyXML==0.8.4
PyYAML==3.12
reportlab==3.3.0
s3transfer==0.1.11
scandir==1.5
simplejson==2.0.9
six==1.9.0
stevedore==1.1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
ZSI==2.0
